{% extends "base.html" %}
{% block content %}
<div class="card">
    <div style="display:flex; justify-content:space-between;">
        <h1>رزروها</h1>
        <a href="/admin/logout">خروج</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>نام کافه</th>
                <th>محله</th>
                <th>تاریخ</th>
                <th>ساعت</th>
                <th>لوکیشن</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for b in bookings %}
            <tr>
                <td>{{ b.cafe_name }}</td>
                <td>{{ b.cafe_area }}</td>
                <td>{{ b.selected_date }}</td>
                <td>{{ b.selected_time }}</td>
                <td>
                    {% if b.latitude and b.longitude %}
                        <a href="https://www.google.com/maps?q={{b.latitude}},{{b.longitude}}" target="_blank">مشاهده نقشه</a>
                    {% else %}
                        ثبت نشده
                    {% endif %}
                </td>
                <td>
                    <form method="POST" action="/admin/delete/{{ b.id }}">
                        <button type="submit">حذف</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
