{% extends "base.html" %}

{% block title %}قرارمون ثبت شد{% endblock %}

{% block content %}
<div class="hero">
    <div class="card romantic-card">
        <div class="heart big-heart">💖</div>

        <div class="badge">همه‌چیز آماده‌ست</div>

        <h1>قرارمون ثبت شد!</h1>

        <p class="subtitle">
            بی‌صبرانه منتظر دیدنت هستم 💕
        </p>

        <div class="info-box">
            <p>
                <strong>تاریخ:</strong>
                {{ date }}
            </p>

            <p>
                <strong>ساعت:</strong>
                {{ time }}
            </p>

            <p>
                <strong>کافه:</strong>
                {{ cafe_name }}
            </p>

            <p>
                <strong>محله:</strong>
                {{ cafe_area }}
            </p>
        </div>

        <a
            class="yes-btn continue-link"
            href="https://www.openstreetmap.org/?mlat={{ latitude }}&mlon={{ longitude }}#map=17/{{ latitude }}/{{ longitude }}"
            target="_blank"
        >
            دیدن لوکیشن کافه روی نقشه 📍
        </a>
    </div>
</div>
{% endblock %}
